.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1.5rem 4rem rgba($color-black-1, 0.15);
  margin: 0.6rem 0.6rem;
  border-radius: 0.3rem;
  flex: 0 1 auto;

  &__logo {
    display: flex;

    gap: 0.5rem;
    align-items: center;
    padding: 0.3rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__nav-menu {
    align-items: stretch;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    flex: 0 1 auto;

    // background-color: ;

    &-link {
      display: flex;
      gap: 0.1rem;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      // margin: 0.5rem 0.5rem;
      padding: 0rem 1.5rem;
      border-radius: 0.3rem;

      &:first-child {
        background-color: $color-active-link;
        color: $color-violet-5;
      }

      svg {
        padding: 1rem;
        font-size: 5rem;
        display: block;
      }
      // background-color: $color-active-link;

      &:hover,
      &:active {
        background-color: $color-active-link;
      }
    }
  }

  &__preview {
    border: 1px solid $color-grey-dark-2;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 3rem;
    cursor: pointer;

    &-btn {
      padding: 0.1rem 2rem;
      &:selection {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: $color-active-link;
    }
  }
}

.linkicon {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: $color-violet-5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
