# Ignore node_modules directory
node_modules/

# Ignore environment configuration files
.env

# Ignore npm debug log
npm-debug.log*

# Ignore macOS system files
.DS_Store

# Ignore MongoDB data directory
/data/db

# Ignore Visual Studio Code configuration files
.vscode/

# Ignore JetBrains IDE configuration files
.idea/

# Ignore log files
logs/
*.log

# Ignore environment specific files
.env.*

# Ignore any local configuration files
config/local.json

# Ignore package-lock.json file (if you're using npm 5+)
package-lock.json
