

.header-container{
  background-color: $color-violet-7;
  height: 20rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__header{
    padding: 1rem 2rem;
    

    &-links{
      display: flex;
      justify-content: space-between;
      background-color: white;
      padding: 1rem 1rem;
      border-radius: 0.5rem;

      a{
        border: 0.2rem solid $color-violet-5;
        font-family: 1.5rem;
        font-weight: 600;
        
      }
    }
  }
}

.preview{
  transform: translateY(-7rem);

  
  &__card{
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0.2rem 1rem rgba($color-black-1, 0.15);
    background-color: #fff;
    border-radius: 1.5rem;
    

    &-img{
      
      border: 0.3rem solid $color-violet-6;
      width: 10rem;
      border-radius: 50%;
      margin: auto;
    }

    &-socials{
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}